= select_tag :project_id, options_for_select([["Select Project", tasks_path]] + current_user.projects.collect{|p| [p.name, project_tasks_path(p)]}, @project ? project_tasks_path(@project) : tasks_path), class: "jump_to_url"

%ul
- @tasks.each do |task|
  %li
    = task.name
    - if current_user.current_time_log_entry(task.project) && current_user.current_time_log_entry(task.project).task_id == task.id
      = link_to "Stop work", [:stop_work, task.project, task]
    - else
      = link_to "Start work", [:start_work, task.project, task]
