body {
  min-height: 100%;
  background: -moz-linear-gradient(100% 100% 90deg, #0a0a2a, #084b8a);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#0a0a2a), from(#084b8a));
  background-color: #0a0a2a;
  background-repeat: no-repeat; }

header, footer, #content {
  display: block;
  width: 940px;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  border-style: solid;
  border-color: #0a0a2a; }

header {
  background-image: url(/images/small_clock.png);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  margin-top: 10px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url(/stylesheets/PIE.htc);
  position: relative;
  height: 32px; }
  header h1 {
    font-size: 32px;
    font-weight: bold;
    color: #0a0a2a;
    letter-spacing: -1px;
    text-shadow: 1px 1px 5px #aaaaaa; }
    header h1 a, header h1 a:visited, header h1 a:hover {
      color: #0a0a2a;
      text-decoration: none;
      display: inline-block;
      padding-left: 50px; }
  header nav {
    display: block;
    text-align: right;
    margin-top: -42px;
    margin-left: 500px;
    margin-right: 50px; }
    header nav ul {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      header nav ul li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #084b8a;
        height: 30px;
        line-height: 30px;
        margin: 0 3px 0px 3px;
        padding: 0 10px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        -khtml-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        behavior: url(/stylesheets/PIE.htc);
        position: relative;
        background: -moz-linear-gradient(100% 100% 90deg, #084b8a, #0a0a2a);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#084b8a), from(#0a0a2a));
        -webkit-box-shadow: #aaaaaa 2px 1px 3px;
        -moz-box-shadow: #aaaaaa 2px 1px 3px;
        -o-box-shadow: #aaaaaa 2px 1px 3px;
        -khtml-box-shadow: #aaaaaa 2px 1px 3px;
        box-shadow: #aaaaaa 2px 1px 3px;
        zoom: 1;
        filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3); }
        header nav ul li a, header nav ul li a:visited {
          color: white;
          font-weight: bold;
          text-decoration: none; }
        header nav ul li a:hover {
          text-shadow: 0 0 5px white; }

footer {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  behavior: url(/stylesheets/PIE.htc);
  position: relative;
  margin-bottom: 10px; }

header {
  border-width: 1px 1px 0 1px; }

footer {
  border-width: 0 1px 1px 1px; }

a, a:visited, a:hover {
  color: #084b8a; }

#content {
  font-size: 12px;
  min-height: 500px;
  border-width: 0 1px 0 1px;
  background-image: url(/images/semi_transparent_clock.png);
  background-repeat: no-repeat;
  background-position: 550px 0; }
  #content ul.tasks {
    margin: 0; }
    #content ul.tasks li {
      padding: 5px;
      display: block;
      margin: 2px 0;
      background-color: transparent;
      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -o-border-radius: 5px 5px 5px 5px;
      -khtml-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      behavior: url(/stylesheets/PIE.htc);
      position: relative;
      border: 1px solid #084b8a; }
      #content ul.tasks li:hover {
        background-color: #084b8a;
        color: white; }
        #content ul.tasks li:hover a, #content ul.tasks li:hover a:visited, #content ul.tasks li:hover a:hover {
          color: white; }
        #content ul.tasks li:hover span.iteration, #content ul.tasks li:hover span.project {
          -webkit-box-shadow: #222222 2px 1px 3px;
          -moz-box-shadow: #222222 2px 1px 3px;
          -o-box-shadow: #222222 2px 1px 3px;
          -khtml-box-shadow: #222222 2px 1px 3px;
          box-shadow: #222222 2px 1px 3px;
          zoom: 1;
          filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3); }
      #content ul.tasks li .icon-start, #content ul.tasks li .icon-stop {
        float: right; }
      #content ul.tasks li span.task_name {
        width: 750px;
        display: inline-block; }
      #content ul.tasks li span.iteration, #content ul.tasks li span.project {
        display: block;
        font-size: 10px;
        line-height: 10px;
        height: 10px;
        float: right;
        margin: -5px 5px 0 0;
        padding: 2px 5px 2px 5px;
        color: white;
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
        -o-border-radius: 0 0 2px 2px;
        -khtml-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        behavior: url(/stylesheets/PIE.htc);
        position: relative;
        -webkit-box-shadow: #666666 2px 1px 3px;
        -moz-box-shadow: #666666 2px 1px 3px;
        -o-box-shadow: #666666 2px 1px 3px;
        -khtml-box-shadow: #666666 2px 1px 3px;
        box-shadow: #666666 2px 1px 3px;
        zoom: 1;
        filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3); }
      #content ul.tasks li span.iteration {
        background: -moz-linear-gradient(100% 100% 90deg, #084b8a, #0a0a2a);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#084b8a), from(#0a0a2a)); }
      #content ul.tasks li span.project a, #content ul.tasks li span.project a:visited, #content ul.tasks li span.project a:hover {
        color: #084b8a;
        text-decoration: none; }
    #content ul.tasks li.current {
      background-color: #fffaaf;
      font-weight: bold;
      color: #084b8a; }
      #content ul.tasks li.current:hover {
        color: #084b8a; }
        #content ul.tasks li.current:hover a, #content ul.tasks li.current:hover a:visited, #content ul.tasks li.current:hover a:hover {
          color: #084b8a; }

.icon-start {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/images/icons/control_play_blue.png"); }
  .icon-start span {
    display: none; }

.icon-stop {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/images/icons/control_pause_blue.png"); }
  .icon-stop span {
    display: none; }

.notice, .alert {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-width: 2px; }

.notice {
  border-color: #008b00;
  color: #008b00;
  background-color: #efffef; }

.alert {
  border-color: #d70000;
  color: #d70000;
  background-color: #ffefef; }
